.landing-container {
    background-image: url(../images/backgrounds/background1.png);
    padding: 0px;
    height: 619px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-section-container > .main-section-grid {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
}

.main-section-container > .main-section-grid > .left-column{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 280px;
    padding-bottom: 150px;

    color: white;
    letter-spacing: 0.6px;
}
.main-section-container > .main-section-grid > .left-column p{
}

.main-section-container > .main-section-grid > .left-column a{
    font-family: "Ubuntu Condensed", sans-serif;
    color:white;
    text-decoration: none;
    transition: 0.5s;
    background-color: black;
    padding: 4px 30px 6px 30px;
    border-radius: 5px;
}

.main-section-container > .main-section-grid > .left-column a:hover{
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7);
}

.main-section-container > .main-section-grid > .left-column > #bottom-paragraph {
    margin-bottom: 30px;
}

.main-section-container > .main-section-grid > .right-column {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-right: 150px;
}
.main-section-container > .main-section-grid > .right-column img{
   width: 350px;
}