@media (max-width: 615px) {

    /* HomePage mobile friendly */
    .landing-container > .navbar-container {
        padding-left: 15px;
        padding-top: 33px;
        display:grid;
        grid-template-columns: 1fr;
    }

    .navbar-container > .navlink-container {
        flex-direction: column;
        height: 100%;
    }

    .navbar-container > .navlink-container > .navlink {
       padding-bottom: 15px;
       font-size: 1.1em;
    }

    .landing-container {
        background-image: url(../images/backgrounds/background1.png);
        padding: 0px;
        height: 1033px;
       
    }
    .main-section-container > .main-section-grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .main-section-container > .main-section-grid > .left-column{
        padding-left: 15px;
        padding-bottom: 40px;
        letter-spacing: 0px;
        width: 85%;
    }

    .main-section-container > .main-section-grid > .right-column img{
        width: 100%;
        padding-left: 60px;
     }

     .main-section-container > .main-section-grid > .left-column a{
        margin-left: 100px;
        width: 90%;
    }

     /* Features Page mobile friendly */

     .features-container > .features-wrapper {
       flex-direction: column;
    
    }
     .features-container > .features-wrapper > .middle-image img{
        width: 100%;
        position: relative;
        top: -60;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
    .features-container > .features-wrapper > .left-text{  
        position: relative;
        top: 60;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        padding: 15px;
        width: 90%;
    }

     .features-container > .features-wrapper > .right-text{
        position: relative;
        top: -150;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        padding: 15px;
        width: 90%;
    }

    /* How It works mobile friendly */

    .hiw-container > .hiw-wrapper {
        grid-template-columns: 1fr;
    }

    .hiw-container {
        height: 950px;
    }

    .hiw-container > .hiw-wrapper > .left-column2 > .left-text {
        top: -250;
        left: 40;
        right: 0;
        bottom: 0;
        width: 90%;
    }

    .hiw-container > .hiw-wrapper > .left-column2 > .left-background {
        margin-top: 15px;
        margin-left: 15px;
        width: 95%;
        padding-bottom: 280px;
    }

    
.hiw-container > .hiw-wrapper > .right-column2 > .right-text{
    position: relative;
    top: -665;
    left: 40;
    right: 0;
    bottom: 0;
    color: black;
    width: 85%;
    letter-spacing: 1px;
}

.hiw-container > .hiw-wrapper > .right-column2 > .right-background {
    position: relative;
    top: -120;
    left: 15;
    margin-top: 15px;
    margin-left: 00px;
    width: 95%;
    padding-bottom: 500px;
    padding-top: 50px;
}

.footer > .links-wrapper {
    flex-direction: column;
}

.footer > .links-wrapper > .nav-link {
    padding-bottom: 15px;
    font-size: 1.1em;
  }

  .footer {
    height: 600px;
}
}