@media (max-width: 615px) {
    .landing-container > .navbar-container {
        padding-left: 55px;
        padding-top: 33px;
        display:grid;
        grid-template-columns: 1fr;
    }

    .navbar-container > .navlink-container {
        flex-direction: column;
        height: 100%;
    }

    .landing-container {
        background-image: url(../images/backgrounds/background1.png);
        padding: 0px;
        height: 1035px;
       
    }
    .main-section-container > .main-section-grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .main-section-container > .main-section-grid > .left-column{
        padding-left: 20px;
        padding-bottom: 40px;
        letter-spacing: 0px;
    }

    .main-section-container > .main-section-grid > .right-column img{
        width: 350px;
        padding-left: 60px;
     }
}