.landing-container > .navbar-container {
    padding-top: 33px;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.navbar-container > .navlink-container {
    display: flex;
    justify-content: space-around;
    margin-right: 100px;
    margin-left: 100px;
    color: white;
}
.navbar-container > .navlink-container > .navlink {
    text-align: center;
    width: 160px;
}

.navbar-container > .navlink-container a {
    text-decoration: none;
    color: white;
    font-family: 'Ubuntu Condensed', sans-serif;
    transition: 1s;
    
}

.navbar-container > .navlink-container a:hover {
    color: #cea135;
    letter-spacing: 2px;
}

.navbar-container > .logo img {
    margin-top: -22px;
    margin-left: 60px;
    width: 260px
}